.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#searchbox1 {
    display: flex;
    flex-direction: column;
}

#searchbox2 {
    display: flex;
    flex-direction: column;
    
}